<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

  <context:component-scan base-package="com.spring.demo"/>
<!--  不希望bean被重用，每次获取新的对象，scope设置prototype为原型模式，
  singleton为单例模式，整个应用程序中只创建一个bean实例,设置lazy-init，延迟加载则表示只有在获取时候才会执行构造函数-->

  <bean id="notepad" class="com.spring.demo.Notepad" scope="singleton" lazy-init="true"
    destroy-method=""
    init-method="init"
  />




</beans>